ul li a {
    color: var(--whiteColor);
    text-decoration: none !important;
    display: block;
}
li a:hover {
    background-color: var(--fiveColor);
    color: var(--whiteColor);
}
.dashboard_active {
    background-color: var(--fiveColor) !important;
}