<section>
    <div class="container col-10 mt-5">
        <p class="text-muted text-center display-5 text-uppercase">
            by the hangs
        </p>
        <h4 class="display-4 lead text-center text-uppercase lead mt-5 align-middle">assumption of repossessed properties</h4>
        <div class="text-center mt-5 align-middle" style="font-size: 20px;">
            <span class="text-uppercase display-5">assumr: </span>
            <span class="text-capitalize display-5">an online platform for repossessed properties</span>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <a href="#!upload-property" class="btn btn-outline-warning text-center p-3 text-uppercase">
                    post property
                </a>
            </div>
        </div>
    </div>

</section>