<nav class="nav-container">
  <div class="left-content">
    <h3>ASSMR</h3>
  </div>
  <div class="right-content">
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <div class="btn-group">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            browse property
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-capitalize" href="#!browse-property/vehicle">vehicle</a>
            <a class="dropdown-item text-capitalize" href="#">realestate</a>
            <a class="dropdown-item text-capitalize" href="#">jewelry</a>
          </div>
        </div>
      </li>
      <li>
        <a href="#!information">about</a>
      </li>
      <li>
        <a href="#information/contact">contact</a>
      </li>
      <li>
        <a href="#login" ng-class="{on: Login}">login</a>
      </li>
    </ul>
  </div>
</nav>