<section style="height: 100vh;">
    <nav id="nav">
        <div class="burger-container" ng-click="toggleBurgerMenu()">
            <div class="burger-one"></div>
            <div class="burger-two"></div>
            <div class="burger-three"></div>
        </div>
    </nav>
    <div class="sidebar-container">
        <div class="sidebar-content">
            <ul class="ul-flex">
                <li class="li-item" ng-class="{'active-success': true}">
                    <a href="#" class="text-capitalize">dashboard</a>
                </li>
                <li class="li-item">
                    <a href="#" class="text-capitalize">
                        my property
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li class="li-item">
                    <a href="#" class="text-capitalize">feedbacks</a>
                </li>
                <li class="li-item">
                    <a href="#" class="text-capitalize">messages</a>
                </li>
                <li class="li-item">
                    <a href="#" class="text-capitalize">inquiries</a>
                </li>
                <li class="li-item">
                    <a href="#" class="text-capitalize">settings</a>
                </li>
            </ul>
        </div>        
    </div>

</section>