<section class="container">
    <div class="row">
        <form name="uploadJewelryPropertyForm" class="row">
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">owner*
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-owner'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_owner" class="form-control" placeholder="Owner name">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">contactno*
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-contactno'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_contactno" class="form-control" placeholder="Contactno">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">jewelry name* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-name'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_name" class="form-control" placeholder="Jewelry name">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">jewelry model* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-model'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_model" class="form-control" placeholder="Jewelry model">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">location* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-location'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_location" class="form-control" placeholder="Location">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">downpayment* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-downpayment'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_downpayment" class="form-control" placeholder="Jewelry downpayment">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">installment paid* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-installmentpaid'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_installment_paid" class="form-control" placeholder="Installment paid">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">installment duration* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-installmentduration'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_installment_duration" class="form-control" placeholder="Installment duration">
            </div>
            <div class="col-4 mt-4">
                <label for="brand" class="text-capitalize">delinquent* 
                    <span class="badge badge-danger" ng-show="errorObject.errorInfo.fields === 'j-delinquent'">{{ errorObject.errorInfo.message }}</span>
                </label>
                <input type="text" name="jewelry_delinquent" class="form-control" placeholder="Delinquent">
            </div>
            <div class="col-12 mt-4">
                <label for="description" class="text-capitalize">description</label>
                <textarea name="description" class="form-control w-100" rows="10"></textarea>
            </div>
            <div class="col-12 mt-5">
                <div class="col-5">
                    <span class="badge badge-danger" ng-show="!fileInstance.file">Please include a file</span>
                    <div class="upload-file" ng-model="fileInstance.file" ngf-multiple="true" ngf-select
                        >
                        <label for="upload" class="text-capitalize text-center">
                            upload file size: {{ fileInstance.file.length || 0}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <button class="btn btn-outline-primary text-capitalize" style="width: 200px;"
                    ng-click="saveJewelryPropertyForm(uploadJewelryPropertyForm)">submit</button>
                <button class="btn btn-outline-info text-capitalize" style="width: 200px;"
                    ng-click="resetJewelryPropertyForm(uploadJewelryPropertyForm)">reset form</button>
            </div>
        </form>
    </div>
</section>